/* Header */
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*LOGO Web*/
.logo {
  width: 56px;
  height: 56px;
  margin-left: 35px;
  margin-top: -12px;
}

.sidebar-title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-top: -12px;

}

.nav-item {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

/* ปรับขนาดไอคอนใน nav-item */
.nav-item svg {
  font-size: 30px; /* กำหนดขนาดไอคอนที่ต้องการ */
  margin-right: 20px; /* เว้นระยะห่างระหว่างไอคอนและข้อความ */
}

.nav-item:hover {
  background: #1e90ff; /* เปลี่ยนสีเมื่อชี้เมาส์ */
  color: white;
}

.active {
  background: #1e90ff; /* เปลี่ยนสีเมื่อถูกเลือก */
  color: white;
}
.sidebar {
  background-color: #001529; /* ปรับพื้นหลัง Sidebar */
  padding: 20px; /* เพิ่ม padding ให้กับ Sidebar */
  width: 321px; /* เพิ่มความกว้างของ Sidebar */
  height: 100vh; /* ให้ Sidebar ยืดเต็มหน้าจอ */
  position: fixed; /* ติดตั้ง Sidebar ไว้ที่ตำแหน่งคงที่ */
  left: 0; /* ตั้งค่าตำแหน่งให้ติดขอบซ้าย */
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.1); /* ให้ดูเหมือนปุ่ม */
  border-radius: 5px;
  cursor: default; /* ปิดการคลิก */
}

.user-icon {
  font-size: 30px;
  margin-right: 20px;
}     

.user-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

